/* line 1, ../../src/scss/_base.scss */
html, body {
  background-color: #263768;
  color: #dedede;
}

/* line 1, ../../src/scss/_header.scss */
#topBar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: #1f254a;
}

/* line 10, ../../src/scss/_header.scss */
#counterContainer {
  color: #fff;
}
/* line 12, ../../src/scss/_header.scss */
#counterContainer .score {
  text-shadow: 2px #000;
}
/* line 15, ../../src/scss/_header.scss */
#counterContainer .multiplier {
  text-shadow: 2px #000;
}

/* line 1, ../../src/scss/_main.scss */
#mainContainer {
  width: 100%;
  height: 100%;
}

/* line 6, ../../src/scss/_main.scss */
#dot {
  cursor: pointer;
}
